<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <title>ToDo List</title>
</head>
<body>
<div class="container-fluid p-3">
    <div th:object="${selectedTask}" class="container-fluid border border-primary border-opacity-50">
        <div class="row p-3">
            <h1>ToDo List</h1>
        </div>
        <div class="bg-primary rounded">
            <p class="text-white p-2">Task #<span th:text="*{id}"></span></p>
        </div>
        <div>
            <dl class="row">
                <dt class="col-sm-3">Task:</dt>
                <dd class="col-sm-9" th:text="*{title}"></dd>
                <dt class="col-sm-3">Task description:</dt>
                <dd class="col-sm-9" th:text="*{description}"></dd>
                <dt class="col-sm-3">Created:</dt>
                <dd class="col-sm-9" th:text="*{#temporals.format(created, 'dd.MM.yyyy HH:mm')}"></dd>
                <dt class="col-sm-3">Done:</dt>
                <dd class="col-sm-9">
                    <span th:if="*{done}">
                    <i class="bi bi-check-square"></i>
                </span>
                    <span th:if="*{!done}">
                    <i class="bi bi-square"></i>
                </span>
                </dd>
            </dl>
        </div>
        <div class="pb-2">
            <a class="btn btn-primary ml-2" th:href="@{/tasks/edit/{id}(id=*{id})}" role="button">Change task info</a>
            <span th:if="*{!done}">
                <a class="btn btn-primary ml-2" th:href="@{/tasks/statusToDone/{id}(id=*{id})}" role="button">Task is done</a>
            </span>
            <a class="btn btn-primary ml-2" th:href="@{/tasks/delete/{id}(id=*{id})}" role="button">Delete task</a>
            <a class="btn btn-primary opacity-50 ml-2" href="/tasks" role="button">Back to task list</a>
        </div>
    </div>
</div>
</body>
</html>