<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <title>ToDo List</title>
</head>
<body>
<div class="container-fluid p-3">
    <div class="container-fluid border border-primary border-opacity-50">
        <div class="d-flex justify-content-between align-items-center p-3">
            <h1>ToDo List</h1>
        </div>
        <form style="max-width: 500px;" th:action="@{/users/registration}" method="post">
            <div class="mb-3" th:if="${message}">
                <p class="text-danger" th:text="${message}"></p>
            </div>
            <div>
                <label for="login" class="form-label"><b>Login:</b></label>
                <input type="text" class="form-control border border-primary border-opacity-50" id="login" name="login" placeholder="user123" required>
            </div>
            <div>
                <label for="password" class="form-label"><b>Password:</b></label>
                <input type="password" class="form-control border border-primary border-opacity-50" id="password" name="password" placeholder="password" required>
            </div>
            <div>
                <label for="name" class="form-label"><b>Name:</b></label>
                <input type="text" class="form-control border border-primary border-opacity-50" id="name" name="name" placeholder="John Parker" required>
            </div>
            <div>
                <label for="zones" class="form-label"><b>Select your time zone:</b></label>
                <select class="form-control border border-primary border-opacity-50" id="zones" name="timezone">
                    <option value=""></option>
                    <option th:each="zone : ${zones}" th:value="${zone}" th:text="${zone}"></option>
                </select>
            </div>
            <div class="d-flex justify-content-between align-items-center p-3">
                <div>
                    <span><a class="link-dark link-underline-opacity-0 link-underline-opacity-100-hover" th:href="@{/users/login}"><b>Login</b></a></span>
                </div>
                <div>
                    <div class="row">
                        <div><button class="btn btn-primary w-100" type="submit">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>