  <table th:fragment="taskListBlock" class="table border-bottom border-primary border-opacity-50">
    <thead>
    <tr>
      <th class="col-1">#</th>
      <th class="col-5">Task</th>
      <th class="col-4">Created</th>
      <th class="col-2">Done</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task: ${tasks}">
      <td th:text="${task.id}"></td>
      <td class="text-truncate" style="max-width: 20px">
          <a class="link-dark link-underline-opacity-0 link-underline-opacity-50-hover" th:href="@{/tasks/{taskId}(taskId=${task.id})}">
              <span th:text="${task.description}"></span>
          </a>
      </td>
      <td style="min-width: 150px" th:text="${#temporals.format(task.created, 'dd.MM.yyyy HH:mm')}"></td>
      <td>
        <span th:if="${task.done}">
            <i class="bi bi-check-square"></i>
          </span>
        <span th:if="${!task.done}">
            <i class="bi bi-square"></i>
          </span>
      </td>
    </tr>
    </tbody>
  </table>